/* les selecteurs*/
p{
    color:red;
    border:10px solid blue;
}
#title{
    color: hotpink;
}
#title1{
font-size: 70px;
color: brown; 
}
.test1{
    font-size: 40px ; 
    color: chocolate;
}
.test2{
    color:purple;

}
.test1 , .test2 {
    text-decoration: underline;
    background-color: rebeccapurple;
    border: 1px solid aqua;
}
/* adheya lclass ili wesset lclass*/
.part1{
    font-weight: 100;
}
*{
    opacity: 0.7;
}